@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: white;
    }

    h1 {
        color: red;
    }
</style>
<div class="text-center">
    <h1 class="display-4"><b>ITK Bank</b></h1>
    <p><a href="/Users/Index">Users</a>  <a href="/Cards/Index">Cards</a></p><br>
</div>
<body>
    <img style="margin-left:31%" src="https://bsmedia.business-standard.com/_media/bs/img/article/2023-12/22/full/1703268124-7729.jpg?im=FeatureCrop,size=(500,310)" alt="main" align="middle">
</body>
