@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Банка ИТК<br>
    <b>Администраторски панел</b><br><br>
    Целта на всички панели е за работа на банков служител - администратор;
    Видимата информация би била налична само за съответния администратор.
    <br><br>
    ИТ Кариера 2024
</p>
